<%= form_for(@restaurant) do |f| %>
	<div>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :address %><br />
		<%= f.text_field :address %>
	</div>
	<div>
		<%= f.label :style %><br />
		<%= f.text_field :style %>
	</div>
	<div>
		<%= f.label :url %><br />
		<%= f.text_field :url %>
	</div>
	<div>
		<%= f.label :capacity %><br />
		<%= f.number_field :address %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>