<p><%= link_to "Back", restaurants_path %> | <%= link_to "Edit", edit_restaurant_path(@restaurant) %></p>	
<h1><%= @restaurant.name %></h1>
<p><%= image_tag(@restaurant.url) %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.style %></p>